# Dependencies
node_modules

# Bun
bun.lock
bun.lockb

# Build output
public
resources
.hugo_build.lock
hugo_stats.json

# Environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.idea
*.swp
*.swo

# Logs
npm-debug.log*

# Etc
.vscode
.claude/
CLAUDE.md